<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">CityWatch</span>
      <span class="mdl-layout-title"><%= @city.name %></span>
      <a class="mdl-navigation__link" href="/">Home</a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <form class="address_search">
            <input class="mdl-textfield__input search_input address_search" type="text" name="address_search"
                 id="fixed-header-drawer-exp" id="address_search_input">
          </form>
        </div>
    </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Upload a video</span>
      <div class="video_pin_form">
       <%= render 'form', video: @video %>
      </div>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div id="map" class="spacer" data-lat="<%= @city.city_lat %>" data-lng="<%= @city.city_lng %>">
      </div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHC7bztyEvmqLkOJV0W6BDKFPTiWg1Pcg&callback=initMap">
</script>
    </div>
  </main>
</div>



